@TLS_SITES@ {
    handle /orchestrator/* {
        reverse_proxy 127.0.0.1:8000
    }
    handle /register* {
        reverse_proxy 127.0.0.1:8000
    }
    handle_path /packages/* {
        root * /var/www/deeporc-packages
        header Cache-Control "no-cache, must-revalidate"
        file_server
    }
    handle {
        reverse_proxy 127.0.0.1:8080
    }
}
